<html>
    <head>
        <title>{{page.title}} - Radhe Patel</title>
        <link href='/style.css' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="headerbg">
        <header>
            <h1><a href="/">Radhe Patel</a></h1>
        </header>
        </div>
        <article>
            <h2>{{page.title}}</h2>
            {{ content }}
        </article>
        <footer>
            <p><strong>Radhe Patel</strong> - <a href="/">radhepatel.com</a></p>
        </footer>
    </body>
</html>
