<html>
    <head>
        <title>{{page.title}} - Radhe Patel</title>
        <link href='/style.css' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8">
        <link rel="icon" href="/favicon.png">
        <meta content="{{ site.title }}" property="og:site_name">

        {% if page.title %}
            <meta content="{{ page.title }}" property="og:title">
        {% else %}
            <meta content="{{ site.title }}" property="og:title">
        {% endif %}

        {% if page.title %}
            <meta content="article" property="og:type">
        {% else %}
            <meta content="website" property="og:type">
        {% endif %}

        {% if page.description %}
            <meta content="{{ page.description }}" property="og:description">
        {% else %}
            <meta content="{{ site.description }}" property="og:description">
        {% endif %}

        {% if page.url %}
            <meta content="{{ site.url }}{{ page.url }}" property="og:url">
        {% endif %}

        {% if page.date %}
            <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
            <meta content="{{ site.url }}/about/" property="article:author">
        {% endif %}

        {% if page.image %}
            <meta content="{{ page.image }}" property="og:image">
        {% else %}
            <meta content="/photo.jpg" property="og:image">
        {% endif %}

        {% if page.categories %}
            {% for category in page.categories limit:1 %}
                <meta content="{{ category }}" property="article:section">
            {% endfor %}
        {% endif %}

        {% if page.tags %}
            {% for tag in page.tags %}
                <meta content="{{ tag }}" property="article:tag">
            {% endfor %}
        {% endif %}
    </head>
    <body>
        <div id="headerbg">
        <header>
            <h1><a href="/">Radhe Patel</a></h1>
            <p>NYC Urban Fellow: Policy, engineering, economics, &amp; dance.</p>
        </header>
        </div>
        <article>
            <h2>{{page.title}}</h2>
            {{ content }}
        </article>
        <footer>
            <div class="inner">
                <a target="_target" href="mailto:rpp2122@columbia.edu"><img src="/icons/email.svg" alt="email"></a>
                <a target="_target" href="http://linkedin.com/pub/radhe-patel/80/b08/b97/"><img src="/icons/linkedin.svg" alt="LinkedIn"></a>
                <a target="_target" href="http://twitter.com/radhe_16/"><img src="/icons/twitter.svg" alt="Twitter"></a>
                <a target="_target" href="https://www.youtube.com/channel/UCAU4glBt4s1LIGZ5grOdc7g/videos"><img src="/icons/youtube.svg" alt="YouTube"></a>
            </div>
            <div class="inner">
                <p><strong>Radhe Patel</strong> - <a href="/">radhepatel.com</a></p>
            </div>
        </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-11153057-9', 'auto');
      ga('send', 'pageview');
    </script>
    </body>
</html>
